<%= form_with(model: controller) do |form| %>
  <% if controller.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(controller.errors.count, "error") %> prohibited this controller from being saved:</h2>

      <ul>
        <% controller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :StaticPages, style: "display: block" %>
    <%= form.text_field :StaticPages %>
  </div>

  <div>
    <%= form.label :home, style: "display: block" %>
    <%= form.text_field :home %>
  </div>

  <div>
    <%= form.label :help, style: "display: block" %>
    <%= form.text_field :help %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
